@CHARSET "ISO-8859-1";

#Material_type{
	border-radius:0px;
	background-color:white;
	color:#071226; 
}

div#search-container{
	background-color:transparent;
	width:100%;
	height:80vh;
	margin-left:40px;
	color: black;
	padding:10px;
	overflow:auto;
	border: 1px solid pink;
}

@media screen and (max-width: 991px) {

div#search-container{
	width:calc( 96vw - 20px);
	height:60vw; 
}
}

.search-div-material{
	border: 1px solid pink;
	margin:5px;
	padding:5px;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background-color:#024873;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #024873; 
}
#content_creator{
	margin-left:5px;
}