@CHARSET "ISO-8859-1";

#search-container{
	background-color:white;
	height:500px;;
	width:orange;
	color: black;
	potision:absolute;
	padding:10px;
	overflow:auto;
	border: 2px solid #D24429;
}

.search-div-material{
	border: 1px solid #D24429;
	margin:5px;
	padding:5px;
}