#radio_correctdiv input, #radio_incorrectdiv input{
	height:12px;
	width:12px;
	float:left;
}
#radio_correctdiv, #radio_incorrectdiv{
	width:70px;
}
.radio{
	position:relative;
	top:2px;
}

.Zebra_DatePicker_Icon_Inside_Right{
	display:none;
}
.Zebra_DatePicker{
	margin-top:75px;
}
#container{
	margin-bottom:20px;
}