#downloadRequests tr th{
			text-align:center;
			border:1px solid #D13F32;
		}
#downloadRequests{
	width:100%; 
}
th button{
	background-color:transparent;
	border: 0px solid white;
	width:100%;
	color:#D9CB9E;
}
table tr:first-of-type{
	color:#D9CB9E;
}
th button:hover{
	background-color:#D13F32;
}
