#test_input{
	margin-left:45px;
	margin-top:20px;
	margin-bottom:20px;
}
.Zebra_DatePicker{
	z-index:100002;
}
#material_info{
	position:relative;
	
}

#image{ 
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



.test_button{
	background-color:#1E1E20;
	color:#D9CB9E;
	border: 1px solid #D13F32;
	padding:5px 10px 5px 10px;
	margin-bottom:20px;
	top:10px;
	font-family: Century Gothic;
}
#answer_button:hover{
	background-color:#D13F32;
}
h4{
	color:#D9CB9E;
}
.search-div-material p{
	color:white;
}
.search-div-material{
	border-color:#D13F32;
}
input,select{
	background-color: #D9CB9E;
	color:#1E1E20;
}
.result-search-button{
	background-color:#1E1E20;
	color:#D9CB9E;
	border: 1px solid #D13F32;
	padding:5px 10px 5px 10px;
}
.result-search-button:hover{
	background-color:#D13F32;
}
p{
	color:#D9CB9E;
}
body{
	background-color: #374140;
}
#Material_type{
	background-color: #D9CB9E;
	color: #1E1E20;
}
#Language_Selector{
	border: 1px solid #Language_Selector;
}
#Adv_search{
	background-color:transparent;
	border: 1px solid #D13F32;
	width:285px; 
	margin:5px 0px;

	padding:10px;   
}
#Adv_search *{
	padding:5px;
}
#nav_pills li a,#nav_pills li {
	color:#D9CB9E;
	opacity:1;
}
.Zebra_DatePicker_Icon, .Zebra_DatePicker_Icon_Inside_Right{
	width:0px;
	height:0px;
}
.dp_visible{
	z-index:100000;  
}

div#material{
	background-color:transparent;
	width:100%;
	position: relative;
	display:block;
	margin-left: 45px;
}

html, body{
	color:white;
	font-family:Century Gothic;

}

#background_1{
	position:fixed;
	z-index:-1;
}

#menu{
	background-color:#1E1E20;
	padding:10px;
	opacity: 1;
	border-bottom: 1px solid #D13F32;
}
#logo_div{
	width:100%;
	margin:auto;
}

#img_logo{
	height:50px;
}

#img-avatar{
	margin-top:-25px;
	margin-right:-10px;
	margin-left:20px;
}

.conainter-fluid{
	margin:0px;
	padding:0px;
}

.col-md-89 *{
	display:inline-block;
}
.col-md-89 {
	float:right;
	width:auto;
	margin-top:5px;
}


#search_input::-webkit-input-placeholder {
	font-style: italic;
	padding-left:2px;
	color:#2A2C2B;
}
#search_input:-moz-placeholder {
	font-style: italic;
	padding-left:2px;  
	color:#2A2C2B;
}
#search_input::-moz-placeholder {
	font-style: italic; 
	padding-left:2px; 
	color:#2A2C2B;
}
#search_input:-ms-input-placeholder { 
	font-style: italic; 
	padding-left:2px;
	color:#2A2C2B;
}

#submit_input,#bttn_search,#test_input{
	background-color:#1E1E20;
	color:#D9CB9E;
	border-radius:0px;
	border:1px solid #D13F32;
} 
#submit_input:hover,#bttn_search:hover,#test_input:hover{
	background-color:#D13F32;
}
#bttn_search{
	width:153px;
} 
#submit_input{
	margin-left:-3px; 
	width:133px;
}

.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 10; /* Stay on top */
	top: 0;
	right: 0;
	background-color: #111; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px; /* Place content 60px from the top */
	transition: 0.4s; /* 0.4 second transition effect to slide in the sidenav */
	padding-right:0px;
}

/* The navigation menu links */
.sidenav a {
	padding: 0px 0px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
	color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px !important;
	margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
	transition: margin-left .5s;
	padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}




.example-desc {
	margin:3px 0;
	padding:5px;
}


.split-left {
	max-width:450px;
	float:left;
}
.split-right {
	max-width:400px;
	float:left;
	margin-left:10px;
}
#callback-output {
	height:250px;
	overflow:scroll;
}
textarea#newoptions {
	max-width:430px;
}



.div_down{
	margin-top:80px;
}



.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 70%;
	margin: auto;
}
#div_slide{
	width:100%;
	height:400px;
	background-color:yellow;
}
#div_notes{
	width: 100%;
	height: 100px;
	background-color:yellow;
	margin-top:5px;
}
#download_img{
	height:40px;
	float:right;
}



.nav-pills li a {
	color:#D9CB9E;
	margin-left: 3px;
	background-color: transparent;
	border: 1px solid #D13F32;
	border-radius: 0px;
}

.nav-pills li a:hover{
	background-color:#D13F32;
	border-radius:0px;
}

.nav-pills li select{
	background-color:#D13F32;
	color:#D9CB9E;
	margin-right: 3px;
	border-radius:0px;
}
.nav-pills li select option{
	color: #D9CB9E;
}
html *
{
	
	font-family:Century Gothic;
}


.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 70%;
	margin: auto;
}

.carousel-inner{
background-color:#374140;
}

#Topics .btn{
	background-color:#1E1E20;
	color:#D9CB9E;
	border-color: #D13F32;
	border-radius:0px;
}
#Topics .btn:hover{
	background-color:#D13F32;
}
#Topics .btn:focus {
	outline-color:#D9CB9E;
	outline: 0;
}
#Topics .btn:active{
	outline-color: #D9CB9E;
}

.nav-pills li a:focus{
	background-color:#D13F32;
}


#myCarousel{
	
}
.item img{
	max-height: 600px;
}
#material{
	position: absolute;
	top: 20px;
	width: 100%;
	min-height: 600px !important;
	background-color: #D9CB9E;
}
#material img{
	max-width:100%;
	
}
#hide{
	/* to be modified */
	position:relative;
	left: 700px;
}





@media screen and (min-width: 768px) {
	#adv-search {
		width: 500px;
		margin: 0 auto;
	}
	.dropdown.dropdown-lg {
		position: static !important;
	}
	.dropdown.dropdown-lg .dropdown-menu {
		min-width: 500px;
	}
}

#Topics{
	z-index: 99;
}





/* Carousel management below */

#Carousel_container{
	width:calc( 100% - 350px );
	height:80vh;
}
#myCarousel{
	width:100%;
	height:80vh;
	position: relative;
	display:block;
	margin-left: 45px;

}
#Carusel{
	width:100%;
	height:80vh;
	border:1px solid #D13F32;
}
.item{
	height:100%;
}

.item img{
	display:block;
	height:auto;
	width:70%;
	position: relative;
	float:left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: contain;
}
.carousel-control{
	height:80vh;
	opacity:0.2;
}
/* End of carousel management below */
.search_inputdiv {
	width:290px; 
}

@media screen and (max-width: 1033px) {

}
@media screen and (max-width: 991px) {
	#vr{
		display:none;
	}
}
@media screen and (max-width: 991px) {

	#nav_pills{
		position: absolute;
		left:10px;
		top:80px;
		display:block;
		max-width:550px;
	}
	#nav_pills li a{
		
	}
	#firstli{
		left:3px;
	}
	
	.search_inputdiv *{
		margin-top:110px; 
		margin-left:0px;
	}
	#search_input{
		width:89vw;
	}
	#submit_input{
		margin-top:0px;
		width:89vw;
	}
	
	
	.nav-pills li a {
		background-color:#2A2C2B;
		border-radius:0px;
		color:#D9CB9E;
		margin-left: 3px;
		z-index:99999;
		width:calc( 96vw - 20px);
		position:relative;
		top:-1px;
	}
	.nav-pills li:last-of-type a{ 
		position:relative;
		top:-2px;
	}

	.nav-pills li a:hover{
		background-color:#D13F32;
		border-radius:0px;
		width:calc( 96vw - 20px);
	}
	
	.nav-pills li select{
		background-color:#2A2C2B;
		color:#D9CB9E;
		margin-right: 3px;
		border-radius:0px;
		width:calc( 96vw - 17px);
	}
}

#Topics{
	width:286px;
}
#search_input{
	width:286px;
}
@media screen and (max-width: 991px) {
	#Language_Selector{
		margin-left:2px; 
		width:calc( 96vw - 20px); 
		z-index:100000;
	}
	#search_input{
		width:calc( 96vw - 20px);
	}
	
	#submit_input{
		margin-top:0px;
		width:calc( ( 96vw - 22px ) / 2);
		display:inline-table;
	}
	
	#bttn_search{
		width:calc( ( 96vw - 22px ) / 2);
		display:inline-table;
		color: #D9CB9E;
		border: 1px solid #D13F32; 
	} 
	.search_inputdiv{ 
		margin-top:110px;
		width:calc( 96vw - 16px);
	}
	.search_inputdiv *{
		margin:0px;
	}
	
	#Topics{
		width:calc( 96vw - 20px);
	}
	#Carousel_container{
		width:calc( 100% - 20px );
		height:60vw;
		margin-left:-38px;
	}
	#myCarousel{
		height:60vw;
	}
	#Carusel{
		height:60vw;
	}
	.carousel-control{
		height:60vw;
	}
	#Adv_search{
		width:calc( 96vw - 20px);
		color:#D9CB9E;
		border: 1px solid #D13F32;
	}
	.td11{
		width:30px;
	}
	.td12{
		width:calc( 96vw - 122px);
	}
	#material img{
		width:calc( 96vw - 20px);
	}
}

#material{
	width:100%;
}
#material img, #material video, #material iframe{
	position:relative;
	left:50%;
	transform:translatex(-50%); 
}
#material video{
	width:100%;
	height:auto;
	max-width:700px;
}
#material iframe{
	width:58vw;
	height:39vw;
}
@media screen and (max-width: 991px) {
	#material iframe{
		width:100%;
		height:66vw;
	}
}
#material_info{
	position:relative;
	top:40px;
	left:44px;
}
#Material_name{
	text-align:center;
	font-size:26px;
	
}
#Material_Desc{
	text-align:center;
	font-style: italic;
}
 