input, select {
	color:black;
}
@media screen and (max-width: 600px){	
	input, select {
		color:black;
		margin-left:0px;
		position:relative;
	}
	#addMaterial, #addTopic, #addTechnology, table{
		width: 80%; 
		margin: 0px;
	}
	#container{    
		position:relative;
		left:50%;
		transform:translateX(-50%);
		width:calc( 96vw - 20px);
		border: 1px solid pink; 
		padding:10px;
		margin-left:0;
	}
	.button_sign{
		position:relative;
		left:50%;
		transform:translateX(-50%);
	}
	#addMaterial *, #addTopic *, #addTechnology *{
		width:42vw; 
	}
	
	#h31, #h32, #h33, #submitt1, #submitt2, #submitt3{
		width:84vw; 
	}
	#technologyForm{
		width:84vw;
		td{
			width:42vw;
		}
	}
	.td_text{
		width:42vw;
		position:relative;
		top:3px;
	}
	#file_choose{
		width:238px; /* this is the default */
		position:relative;
		left:calc( ( 84vw - 238px ) / 2 );
	}
	#container{
 		top:80px;
	}
}
 


@media screen and (min-width: 601px){
input, select {
	color:black;
}

}
@media screen and (max-width:991px) {
#content_login{
	position:relative;
	top:100px;  
}
}