input, select {
	color:black;
}


	
	input, select {
		color:black;
		margin-left:0px;
		position:relative;
	}
	#addMaterial, #addTopic, #addTechnology, table{
		width: 80%; 
		margin: 0px;
	}
	#container{    
		width:calc( 96vw - 20px);
		border: 1px solid pink; 
		padding:10px;
		margin-left:0;
		max-width:550px;
	}
	.button_sign{
		position:relative;
		left:50%;
		transform:translateX(-50%);
	}
	#addMaterial *, #addTopic *, #addTechnology *{
		width:42vw; 
	}
	
	#h31, #h32, #h33, #submitt1, #submitt2, #submitt3{
		width:84vw; 
	}
	#technologyForm{
		width:84vw;
		td{
			width:42vw;
		}
	}
	.td_text{
		width:42vw; 
		position:relative;
		top:3px;
		text-align:left;
		max-width:250px;
	}
	#file_choose{
		width:238px; /* this is the default */
		position:relative;
		
	}
	#container{
 		top:180px;
 		position:absolute;
 		left:calc(( 100vw - ( 98vw - 22px ) ) / 2 );
	}
	select,input{
		height:26px;
		padding:1px 0px;
		border:2px;
		margin:0px; 
		max-width:250px;
	}
	#submitt1, #submitt2, #submitt3{
		max-width:500px;
		height:38px;
		margin-top:5px;
	}
	#nav_pills li a{
		max-width:550px;
	}
	#nav_pills{
		left:calc(( 100vw - ( 98vw - 12px ) ) / 2 );
	}
	#addMaterial, #addTopic, #addTechnology{
		
	}

@media screen and (min-width:595px){
	#container{
		position:absolute;
		left:calc(50% + 5px);
		transform:translateX(-50%);
		padding-left:20px;
	}
	#nav_pills{
		position:absolute;
		left:50%;
		transform:translateX(-50%);
		
	}
	#h31, #h32, #h33,#technologyForm{
		width:100%;
	}
}


@media screen and (min-width: 992px){
	input, select {
		color:black;
		position:relative;
	}	
	#nav_pills{
		position:relative;
		left:0px;
		right:160px;
	}
	#container{
		top:90px;
	}
	td{
	}
	
}
@media screen and (min-width:1190px){
	table{
		table-layout: fixed
	}
	td{
		width:200px;
	}
}
@media screen and (max-width:991px) {
#content_login{
	position:relative;
	top:100px;  
}
}